@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');

body{
    background-image: url('C:/Users/ftaut/Downloads/a.jpg');
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.shite, li, a, button{
    font-family: 'Readex Pro', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
header{
    background-color: rgba(44, 44, 44, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}
.shite{
    cursor: pointer;
}
.nav_bar{
list-style: none;
}
.nav_bar li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_bar li a{
    transition: all 0.3s ease 0s;
}
.nav_bar li a:hover{
    color: royalblue;
}
button{
    padding: 9px 25px;
    background-color: rgba(46, 167, 250, 0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(64, 64, 64, 1);
}
.shite:hover{
    color: rgba(46, 167, 250, 0.8);
}
#msgs2{
    font-family: 'Readex Pro', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: white;
    text-decoration: none;
}
#Ham{
    font-family: 'Readex Pro', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.dumb{
    text-align: left;
    background-color: rgba(59, 59, 59, 0.9);
    border: 2px solid rgba(158, 158, 158, 0.9);
    width: 400px;
    padding: 10px;
    margin: 1px;
    border-radius: 5px;

}
#clock{
    font-family: 'Readex Pro', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
#date{
    font-family: 'Readex Pro', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
#meh{
    float:right; margin-right:.20%; margin-top: 0px;
}
.CGIT{
    width: 378px;
    height: 40px; 
    padding: 9px 25px;
    background-color: rgba(46, 167, 250, 0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.CIG{
    width: 378px;
    height: 40px; 
    padding: 9px 25px;
    background-color: rgba(46, 167, 250, 0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
.CTW{
    width: 378px;
    height: 40px; 
    padding: 9px 25px;
    background-color: rgba(46, 167, 250, 0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
.CFB{
    width: 378px;
    height: 40px; 
    padding: 9px 25px;
    background-color: rgba(46, 167, 250, 0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
.CYT{
    width: 378px;
    height: 40px; 
    padding: 9px 25px;
    background-color: rgba(46, 167, 250, 0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
.CDEV{
    width: 378px;
    height: 40px; 
    padding: 9px 25px;
    background-color: rgba(46, 167, 250, 0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
.CGIT:hover{
    box-shadow: 0 1px 10px 0 white;
    color: white;
    border-radius: 5px;
    background-color: rgba(64, 64, 64, 1);
  }
  .CIG:hover{
    box-shadow: 0 1px 10px 0 white;
    color: white;
    border-radius: 5px;
    background-color: rgba(64, 64, 64, 1);
  }
  .CTW:hover{
    box-shadow: 0 1px 10px 0 white;
    color: white;
    border-radius: 5px;
    background-color: rgba(64, 64, 64, 1);
  }
  .CFB:hover{
    box-shadow: 0 1px 10px 0 white;
    color: white;
    border-radius: 5px;
    background-color: rgba(64, 64, 64, 1);
  }
  .CYT:hover{
    box-shadow: 0 1px 10px 0 white;
    color: white;
    border-radius: 5px;
    background-color: rgba(64, 64, 64, 1);
  }
  .CDEV:hover{
    box-shadow: 0 1px 10px 0 white;
    color: white;
    border-radius: 5px;
    background-color: rgba(64, 64, 64, 1);
  }